.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0 25px 10px 0;
}
.pull-right {
  float: left;
}
.pull-left {
  float: right;
}
.table th,
.table td {
  text-align: right;
}
.navbar .brand {
  float: right;
  padding: 8px 20px 12px;
  margin-right: -20px;
  margin-left: 0;
}
.navbar .nav,
.navbar .nav > li {
  float: left;
}
.navbar .nav.pull-right {
  margin-right: 10px;
  margin-left: 0px;
}
.pull-right > .dropdown-menu {
  left: 0;
  right: auto;
}
[class*="span"] {
  float: right;
  margin-right: 20px;
  margin-left: 0px;
}
.row-fluid [class*="span"] {
  float: right;
  margin-right: 2.1276595744681%;
  *margin-right: 2.0744680851064%;
  margin-left: 0px;
  *margin-left: 0px;
}
.row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.row-fluid .offset12 {
  margin-right: 105.52486187845304%;
  *margin-right: 105.41847889972962%;
}
.row-fluid .offset12:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 102.76243093922652%;
  *margin-right: 102.6560479605031%;
}
.row-fluid .offset11 {
  margin-right: 96.96132596685082%;
  *margin-right: 96.8549429881274%;
}
.row-fluid .offset11:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 94.1988950276243%;
  *margin-right: 94.09251204890089%;
}
.row-fluid .offset10 {
  margin-right: 88.39779005524862%;
  *margin-right: 88.2914070765252%;
}
.row-fluid .offset10:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 85.6353591160221%;
  *margin-right: 85.52897613729868%;
}
.row-fluid .offset9 {
  margin-right: 79.8342541436464%;
  *margin-right: 79.72787116492299%;
}
.row-fluid .offset9:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 77.07182320441989%;
  *margin-right: 76.96544022569647%;
}
.row-fluid .offset8 {
  margin-right: 71.2707182320442%;
  *margin-right: 71.16433525332079%;
}
.row-fluid .offset8:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 68.50828729281768%;
  *margin-right: 68.40190431409427%;
}
.row-fluid .offset7 {
  margin-right: 62.70718232044199%;
  *margin-right: 62.600799341718584%;
}
.row-fluid .offset7:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 59.94475138121547%;
  *margin-right: 59.838368402492065%;
}
.row-fluid .offset6 {
  margin-right: 54.14364640883978%;
  *margin-right: 54.037263430116376%;
}
.row-fluid .offset6:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 51.38121546961326%;
  *margin-right: 51.27483249088986%;
}
.row-fluid .offset5 {
  margin-right: 45.58011049723757%;
  *margin-right: 45.47372751851417%;
}
.row-fluid .offset5:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 42.81767955801105%;
  *margin-right: 42.71129657928765%;
}
.row-fluid .offset4 {
  margin-right: 36.170212765957%;
  *margin-right: 36.645753773413%;
}
.row-fluid .offset4:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 34.188034188034%;
  *margin-right: 34.081651209311%;
}
.row-fluid .offset3 {
  margin-right: 27.659574468085%;
  *margin-right: 27.553191489362%;
}
.row-fluid .offset3:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 25.131914893617%;
  *margin-right: 25.425531914894%;
}
.row-fluid .offset2 {
  margin-right: 19.148936170213%;
  *margin-right: 19.042553191489%;
}
.row-fluid .offset2:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 16.521276595745%;
  *margin-right: 16.514893617021%;
}
.row-fluid .offset1 {
  margin-right: 10.23829787234%;
  *margin-right: 10.531914893617%;
}
.row-fluid .offset1:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 8.0106382978723%;
  *margin-right: 8.0042553191489%;
}
@media (min-width: 1200px) {
  .row-fluid [class*="span"] {
    margin-right: 2.5641025641026%;
    *margin-right: 2.5109110747409%;
  }
  .row-fluid .offset12 {
    margin-right: 105.52486187845304%;
    *margin-right: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 102.76243093922652%;
    *margin-right: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-right: 96.96132596685082%;
    *margin-right: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 94.1988950276243%;
    *margin-right: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-right: 88.39779005524862%;
    *margin-right: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 85.6353591160221%;
    *margin-right: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-right: 79.8342541436464%;
    *margin-right: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 77.07182320441989%;
    *margin-right: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-right: 71.2707182320442%;
    *margin-right: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 68.50828729281768%;
    *margin-right: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-right: 62.70718232044199%;
    *margin-right: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 59.94475138121547%;
    *margin-right: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-right: 54.14364640883978%;
    *margin-right: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 51.38121546961326%;
    *margin-right: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-right: 45.58011049723757%;
    *margin-right: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 42.81767955801105%;
    *margin-right: 42.71129657928765%;
  }
  .row-fluid .offset4 {
    margin-right: 36.752136752137%;
    *margin-right: 36.645753773413%;
  }
  .row-fluid .offset4:first-child {
    margin-right: 34.188034188034%;
    *margin-right: 34.081651209311%;
  }
  .row-fluid .offset3 {
    margin-right: 28.205128205128%;
    *margin-right: 28.098745226405%;
  }
  .row-fluid .offset3:first-child {
    margin-right: 25.641025641026%;
    *margin-right: 25.534642662302%;
  }
  .row-fluid .offset2 {
    margin-right: 19.65811965811966%;
    *margin-right: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-right: 17.094017094017%;
    *margin-right: 16.987634115294%;
  }
  .row-fluid .offset1 {
    margin-right: 11.111111111111%;
    *margin-right: 11.004728132388%;
  }
  .row-fluid .offset1:first-child {
    margin-right: 8.5470085470085%;
    *margin-right: 8.440625568285142%;
  }
}
.form-horizontal .control-label {
  float: right;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-right: 20px;
  margin-right: 160px;
  *margin-right: 0;
  margin-left: 0;
  text-align: right;
  margin-top: 6px;
}
.form-horizontal .controls:first-child {
  *padding-right: 160px;
}
.form-vertical .control-label {
  float: none;
  padding-right: 0;
  padding-top: 0;
  text-align: right;
  width: auto;
}
ul.nav-tabs.nav-stacked {
  padding: 0 20px 0 0;
  margin: 0 -8px 0 0;
}
.btn-group > .btn {
  float: right;
  margin-right: -1px;
  margin-left: 0;
}
.btn-group > .btn:first-child {
  margin-right: 0;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.btn-group > .btn.large:first-child {
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  margin-right: 0;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-topright: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
}
.btn-group > .btn:first-child:last-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.input-prepend .add-on {
  float: right;
}
.input-append .add-on {
  float: left;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-left: -1px;
  margin-right: 0;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append .uneditable-input {
  border-left-color: #ccc;
  border-right-color: #eee;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-left: -1px;
  margin-right: 0px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  float: right;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-right: -1px;
  margin-left: 0px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
body {
  direction: rtl;
}
.pager .next a {
  float: left;
}
.pager .previous a {
  float: right;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: right;
  margin-right: 2px;
  margin-left: 5px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: right;
}
.btn-group + .btn-group {
  margin-right: 5px;
  margin-left: 0px;
}
.tabs-left > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #DDD;
  margin-right: 0px;
  border-right: 0px;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #DDD #DDD #DDD transparent;
}
.tabs-left > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin-right: 0px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 0px;
}
.btn-toolbar {
  margin-top: 14px;
  margin-bottom: 3px;
}
.navbar .nav > li {
  float: right;
}
.icon-folder-2 {
  line-height: 25px;
  padding-left: 5px;
}
.navbar .nav > li > a {
  padding: 9px 10px;
  color: #D2E3FC;
}
.container-logo {
  padding-top: 6px;
}
.modal-header .close {
  float: left;
}
.pagination a {
  float: right;
}
.pagination a {
  float: right;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-right-width: 0;
}
.pagination li:first-child a {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination li:last-child a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.icon-first:before {
  content: "\e000";
}
.icon-previous:before {
  content: "\7d";
}
.icon-last:before {
  content: "\7b";
}
.icon-next:before {
  content: "\7c";
}
.dl-horizontal dt {
  float: right;
}
.profile> ul {
  margin: 9px 25px 0 0;
}
.dropdown-submenu > a:after {
  float: left;
  border-width: 5px 5px 5px 0;
  margin-left: -10px;
  border-left-color: transparent;
  border-right-color: #CCC;
}
.rtl #yt_tool_bottom .module .btn-special {
  padding: 0 5px;
}
.rtl .yt-sticky .module .module-inner1 .module-inner2 .module-inner3 h3.modtitle:before {
  margin: 0 0 0 10px;
  float: right;
}
.rtl .backtotop i {
  margin: 8px 0 0;
}
.rtl .pp_default .pp_content_container .pp_content .pp_details .pp_close {
  left: 0px;
  right: auto;
}
.rtl .row-fluid .first {
  margin-right: 0;
}
.rtl #system-message .error > ul {
  margin-right: 0;
  background-position: 99% center;
}
.rtl .blog .items-leading .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog .items-leading .item .article-text .item-headinfo dl.article-info dd .ico-create {
  margin: 0 0 0 5px;
}
.rtl .blog .items-leading .item .article-text div.item-readmore {
  text-align: left;
}
.rtl .blog .items-leading .item .article-text div.item-readmore .readmore {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl .blog .items-leading .item .item-image {
  float: right;
  margin: 0 0 10px 20px;
}
.rtl .blog .items-leading .item .item-image {
  margin: 0 0 10px 0px;
  min-width: auto !important;
  min-height: auto !important;
}
.rtl .blog .items-leading div.item-readmore {
  text-align: left;
}
.rtl .blog .items-leading div.item-readmore .readmore {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl .blog .items-row .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog .items-row .item .article-text .item-headinfo dl.article-info dd .ico-create {
  margin: 0 0 0 5px;
}
.rtl .blog .items-row .item .article-text div.item-readmore {
  text-align: left;
}
.rtl .blog .items-row .item .article-text div.item-readmore .readmore {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl .blog .items-row .item .item-image {
  float: right;
  margin: 0 0 10px 20px;
}
.rtl .blog .items-more ol li a:before {
  content: "\f104";
  font-size: 11px;
  font-weight: bold;
  margin: 0 3px 0 5px;
  vertical-align: 1px;
}
.rtl .blog .items-more ol li a:hover:before {
  margin: 0 6px 0 5px;
}
.rtl .blog-featured .items-leading .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog-featured .items-leading .item .article-text .item-headinfo dl.article-info dd .ico-create {
  margin: 0 0 0 5px;
}
.rtl .blog-featured .items-leading .item .article-text div.item-readmore {
  text-align: left;
}
.rtl .blog-featured .items-leading .item .article-text div.item-readmore .readmore {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl .blog-featured .items-leading .item .item-image {
  float: right;
  margin: 0 0 10px 20px;
}
.rtl .blog-featured .items-row  .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog-featured .items-row  .item .article-text .item-headinfo dl.article-info dd .ico-create {
  margin: 0 0 0 5px;
}
.rtl .blog-featured .items-row  .item .article-text div.item-readmore {
  text-align: left;
}
.rtl .blog-featured .items-row  .item .article-text div.item-readmore .readmore {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl .blog-featured .items-row  .item .item-image {
  float: right;
  margin: 0 0 10px 20px;
}
.rtl .item-page .page-header ul.actions {
  float: left;
}
.rtl .item-page .page-header ul.actions li {
  margin: 0 10px 0 0px;
}
.rtl .item-page .page-header ul.actions li i {
  margin: 0px 5px 0 5px;
}
.rtl .item-page .page-header ul.actions li a {
  padding: 0 5px 0 10px;
  border-right: 1px solid #D5D5D5;
  border-left: none;
}
.rtl .item-page .article-info ul.actions {
  float: left;
}
.rtl .item-page .article-info dl.article-info {
  float: right;
}
.rtl .item-page .article-info dl.article-author dd.createdby {
  margin: 0px;
  text-align: left;
}
.rtl .item-page .img-fulltext-left {
  float: left;
  margin: 0 0 1em 1em;
}
.rtl .item-page .img-fulltext-right {
  float: right;
  margin: 0 1em 1em 0;
}
.rtl .item-page ul.related-items li.related-item > a {
  float: right;
}
.rtl .item-page ul.related-items li.related-item > a:before {
  content: "\f104";
  font-size: 11px;
  font-weight: bold;
  margin: 0 3px 0 5px;
  vertical-align: 1px;
}
.rtl .item-page ul.related-items li.related-item > a:hover {
  margin: 0 6px 0 5px;
}
.rtl table.category thead tr th {
  text-align: right;
}
.rtl div.categories-list ul {
  padding: 0 15px 0 0;
}
.rtl div.categories-list ul ul > li:after,
.rtl div.categories-list ul ul > li:before {
  left: auto;
  right: 0px;
}
.rtl div.categories-list ul ul > li:before {
  left: auto;
  right: 1px;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text .item-headinfo dl.article-info dd .ico-create {
  margin: 0 0 0 5px;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text div.item-readmore {
  text-align: left;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text div.item-readmore .readmore {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl div.tag-category ul.list_tags li.items-row .item .item-image {
  float: right;
  margin: 0 0 10px 20px;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text .item-headinfo dl.article-info dd .ico-create {
  margin: 0 0 0 5px;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text div.item-readmore {
  text-align: left;
}
.rtl div.tag-category ul.list_tags li.items-row .item .article-text div.item-readmore .readmore {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl div.tag-category ul.list_tags li.items-row .item .item-image {
  float: right;
  margin: 0 0 10px 20px;
}
.rtl div.tag-category ul.list_tags li.items-row .item .item-image {
  float: right;
}
.rtl dl.tabs dt {
  float: right;
}
.rtl .search #searchForm .phrases-box input,
.rtl .search #searchForm .only input {
  float: right;
  margin: 4px 0 0 5px;
}
.rtl #advanced-search {
  text-align: right;
}
.rtl #advanced-search #finder-filter-window ul#finder-filter-select-dates li {
  text-align: right;
}
.rtl #advanced-search #finder-filter-window ul#finder-filter-select-dates li select.filter-date-operator {
  display: inline-block;
  margin-right: 0px !important;
  margin-left: 5px;
}
.rtl .registration .form-horizontal .control-label {
  text-align: right;
}
.rtl .login .well .control-label label {
  text-align: right;
}
.rtl .reset .control-label,
.rtl .remind .control-label {
  text-align: right;
}
.rtl.contentpane #mailto-window .mailto-close {
  left: 20px;
  right: auto;
}
.rtl .finder #search-form #finder-search button.button i.icon-search {
  margin-right: 0px;
  margin-left: 5px;
}
.rtl div.breadcrumbs div.modcontent ul.breadcrumb li a,
.rtl div.breadcrumbs div.modcontent ul.breadcrumb li span {
  border-right: none;
  border-left: 1px dotted #ccc;
}
.rtl div.breadcrumbs div.modcontent ul.breadcrumb li .last {
  border: none;
}
.rtl #mod-finder-searchform input.search-query {
  float: left;
}
.rtl #mod-finder-searchform .btn {
  right: auto;
  left: 2px;
}
.rtl #mod-finder-searchform input.inputbox {
  background-position: right center;
}
.rtl #mod-finder-searchform button.button {
  margin: 0 0px 0 4px;
}
.rtl .day-login ul.sj-login-regis {
  float: left;
}
.rtl .day-login #sj_login_form {
  float: left;
}
.rtl .day-login .sj-day {
  background-position: right center;
  padding: 0 23px 0 0px;
}
.rtl .day-login div.modal.fade.in #sj_login_box .sj_box_content #login_form .login_input {
  float: right;
}
.rtl .day-login div.modal.fade.in #sj_login_box .sj_box_content #login_form .link-forgot ul li a i {
  margin: 0 0px 0 5px;
}
.rtl .day-login div.modal.fade.in #sj_register_box .sj_box_content #member_registration .col-right {
  float: right;
}
.rtl div.mega-module a.more-news {
  padding: 0 15px 0 5px;
}
.rtl a.more-news .icon-caret-right:before {
  content: "\f0d9";
}
.rtl .tagspopular a {
  float: right;
}
.rtl div.trending-news ul.latestnews li a {
  float: left;
}
.rtl div.online .who-online .icon-group {
  float: right;
}
.rtl div.online .who-online .online_content {
  padding: 15px 15px 0px 0px;
  border-left: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(255,255,255,0.5);
}
.rtl div[class*=" icon-"] h3.modtitle:before {
  margin: 0 0 0 10px;
}
.rtl div._menu .modcontent ul.menu li.active > a,
.rtl div._menu .modcontent ul.menu li.active > .separator,
.rtl div._menu .modcontent ul.menu li.active ul li > a {
  background-position: right center;
  padding: 5px 12px 5px 0px;
}
.rtl div[class*=" badge-"] h3.modtitle span.badge {
  right: -2px;
  left: auto;
}
.rtl div.img-top {
  float: right;
  margin: 0 0 0 15px;
}
.rtl ul.social {
  float: left;
}
.rtl a.readon:after {
  content: "\f0d9";
}
.rtl a.readon:hover {
  padding: 0 10px 0 0;
}
.rtl div.video .more-video a {
  background-position: right center;
  padding: 0 32px 0 0px;
}
.rtl div.video .video-row .video-header h3 {
  text-align: right !important;
}
.rtl div.video .video-row .video-header button.close {
  float: left;
}
.rtl div.sj-logo a span.text {
  float: right;
}
.rtl div.sj-logo a span.slogan {
  margin: 0 0 0 10px;
  float: right;
}
.rtl div.backtop {
  text-align: left;
}
.rtl div.backtop .icon-sort-up:before {
  right: -15px;
  left: auto;
}
.rtl div.link_news .title {
  float: right;
  margin: 0 0px 0 10px;
}
.rtl div.link_news .title:after {
  background-position: left -28px;
}
.rtl div.link_news .title a {
  float: right;
  padding: 0 6px 0 0;
}
.rtl div.link_news ul li {
  float: right;
  background-position: left center;
}
.rtl div.link_news ul.follow li {
  padding: 0 15px 0 0;
}
.rtl div.link_news ul.follow li a {
  padding: 0 33px 0 0px;
  background-position: right 0px;
}
.rtl div.link_news ul.follow li.twiter a {
  background-position: right -34px;
}
.rtl div.link_news ul.follow li.rss a {
  background-position: right -70px;
}
.rtl div.link_news ul.follow li.google a {
  background-position: right -104px;
}
.rtl div.link_news ul.follow li.in a {
  background-position: right -138px;
}
.rtl div.link_news ul.follow li.flick a {
  background-position: right -173px;
}
.rtl div.localtions ul li {
  padding: 0 45px 0 0;
}
.rtl div.localtions ul li:before {
  left: auto;
  right: 0px;
}
.rtl div.newsletter span.button_right .button_left {
  margin: 0 9px;
}
.rtl div.moduletabs.top-position div.tabs-container ul.tabs li {
  float: right;
}
.rtl a.more-view:after {
  content: "\f053";
}
.rtl .bsn-wrap .bsn-image {
  float: right;
}
.rtl div.extra-slider .extraslider-control {
  float: left;
}
.rtl div.extra-slider div.sj-extraslider .extraslider-inner .item .line .item-wrap.style1 .item-image {
  float: right;
  margin: 0 0px 0 10px;
}
.rtl div.mgi-wrap.theme2 .mgi-box .mgi-item .item-wrap {
  float: right;
  padding: 0 0% 0 2%;
}
.rtl div.yt-accordion .sj-accordion .acd-items .acd-item .acd-header {
  padding: 3px 20px 3px 10px;
}
.rtl div.yt-accordion .sj-accordion .acd-items .acd-item .acd-header:before {
  margin: 0 -15px 0 5px;
  float: right;
}
.rtl div.ajax-tabs .sj-ajax-tabs.top-position .tabs-container ul.tabs {
  right: 0px !important;
  left: auto;
}
.rtl div.ajax-tabs .sj-ajax-tabs.top-position .tabs-container ul.tabs li {
  float: right;
}
.rtl div.ajax-tabs .tabs-content .item-title,
.rtl div.ajax-tabs .tabs-content .item-title a,
.rtl div.ajax-tabs .tabs-content .item-readmore {
  text-align: right !important;
}
.rtl div.ajax-tabs .tab-content .ajax-loader {
  margin-top: 80px;
  background-position: center center;
  padding: 0 0 !important;
  width: 100%;
}
.rtl div.sj-splash .spl-title,
.rtl div.sj-splash .spl-items {
  float: right;
}
.rtl div.sj-splash .spl-title .spl-title-inner {
  padding: 0 0 0 10px;
}
.rtl div.sj-splash .spl-control ul.spl-control-inner {
  left: 0px;
  right: auto;
}
.rtl div.slideshow .sl-control ul.pag-list {
  text-align: left;
}
.rtl div.slideshow .sl-control ul.pag-list li.pag-item,
.rtl div.slideshow .sl-control ul.pag-list li.pag-prev,
.rtl div.slideshow .sl-control ul.pag-list li.pag-next {
  float: none;
  display: inline-block;
}
.rtl div.slideshow.theme2 .sl-control ul.pag-list {
  float: left;
}
.rtl .slideshow.theme1 .sl-control {
  left: 0px;
  right: auto;
}
.rtl .slideshow.theme1 .sl-control .pag-list {
  left: 0px;
  right: auto;
}
.rtl div.new-temp2 h3.modtitle {
  padding: 25px 15px 10px 60px;
}
.rtl div.new-temp1 h3.modtitle {
  padding: 10px 10px 6px 60px;
}
.rtl div.new-temp1 div.slideshow.theme1 .sl-control {
  left: 10px;
  right: auto;
}
.rtl a.see-all .icon-caret-right:before {
  content: "\f0d9";
}
.rtl div.bsn-wrap.theme2col .post .bsn-image {
  margin: 5px 0px 5px 10px;
}
.rtl div.tab-news h3.modtitle {
  padding: 10px 10px 10px 67%;
}
.rtl div.tab-news div.moduletabs.top-position .tabs-container {
  right: auto;
  left: 0px;
}
.rtl div.tab-news div.moduletabs.top-position .tabs-content-wrap .tabs-content {
  padding: 5px 7px 5px 0px;
}
.rtl div.container-slider .page-button.top .control-button .preview {
  right: auto;
  left: 20px;
}
.rtl div.container-slider .page-button.top .control-button .next {
  right: auto;
  left: 37px;
}
.rtl div.container-slider .slider {
  direction: ltr;
}
.rtl div.container-slider .slider .vpo-wrap .vp .item .item-wrap {
  direction: rtl;
}
.rtl div.container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-title,
.rtl div.container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-des,
.rtl div.container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-read {
  text-align: right;
}
.rtl .sj_news_scrollbar .mCustomScrollBox > .mCSB_scrollTools {
  right: auto;
  left: 0px;
}
.rtl .sj_news_scrollbar .mCustomScrollBox > .mCSB_scrollTools .mCSB_draggerRail {
  background-position: right 0;
}
.rtl .sj_news_scrollbar .mCustomScrollBox .mCSB_container {
  margin-right: 0px;
  margin-left: 30px;
}
.rtl .sj_news_scrollbar .mCustomScrollBox .mCSB_container .scrb-item .scrb-item-inner .scrb-image {
  float: right;
  margin: 3px 0px 5px 5px;
}
